doctype html
html.no-js(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content="Mangrove develops a new way of working, focused on collaboration and personal fulfillment. We are a global team of passionate tech freelancers and entrepreneurs sharing the same values.")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(property="og:url" content="http://www.meetmangrove.com")
    meta(property="og:type" content="website")
    meta(property="og:title" content="From Work To Life")
    meta(property="og:description" content="Mangrove develops a new way of working, focused on collaboration and personal fulfillment. We are a global team of passionate tech freelancers and entrepreneurs sharing the same values. Everyday, we learn from each other, build projects together and share unique experiences across the world.")
    meta(property="og:image" content="http://maxbrodi.github.io/mangrove/images/share-fb2.png")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@meetmangrove")
    meta(name="twitter:title" content="Mangrove")
    meta(name="twitter:description" content="A new way of working is possible. Meet #Mangrove :point_right: www.meetmangrove.com")
    meta(name="twitter:creator" content="@meetmangrove")
    meta(name="twitter:image:src" content="http://maxbrodi.github.io/mangrove/images/share-fb2.png")

    // Place favicon.ico in the root directory

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/global.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/lifestyle.css')
    link(rel='stylesheet', href='/stylesheets/newsletter.css')
    link(rel='stylesheet', href='/stylesheets/team.css')

    script(src="//use.fontawesome.com/6035d6a879.js")
    script(src='scripts/modernizr-2.8.3.min.js')
    script(src="//my.hellobar.com/209e567982fe4fed8365991d34b55d5f0f6c37df.js")
    script(src="scripts/jquery-2.2.3.min.js")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    body
        // [if lt IE 8]
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        // [endif]

        .header
          .menu
            .logo
              a(href='/'): img(src="images/logo.png")
            ul
              li: a(href='/values') Values
              li: a(href='/lifestyle') Lifestyle
              li: a(href='/community') Community
              li: a(href='/team') Team
          .catchphrase
            h1=catchphrase
          .bottom-arrow
            svg#healthcare-arrow(width="24px" height="14px" viewBox="24 29 24 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              defs
              polyline#Path-72-Copy(stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="26 31 36 41 46 31")
        if description
          .head#head
            .description=description
            .legend !{cta}

        block content

        .footer
          .footer-legend Any question? Get in touch with us:
          .footer-link: a(href="mailto:hello@meetmangrove.com") hello@meetmangrove.com
          .footer-logos
            a(href="https://twitter.com/intent/follow?screen_name=meetmangrove"): i(class="fa fa-twitter")
            a(href="https://www.snapchat.com/add/meetmangrove" target="_blank" class="snapchat"): i(class="fa fa-snapchat-ghost")
            a(href="https://www.facebook.com/meetmangrove" target="_blank"): i(class="fa fa-facebook-official")

        script(src="scripts/jquery.scrollTo.min.js")
        script(src="scripts/main.js")

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-87631128-1', 'auto');ga('send', 'pageview');

