extends layout

block content
  .team.members#head
    h2 Mangrove Co-founders
    p.explanation Every Mangrove member is a co-founder. It means that we are all entitled to start new ventures inside our ecosystem.
    ul
      each mb,key in members
        li
          a(href="http://twitter.com/#{mb.twitter}", target="_blank")
            .member-profile(style="background-image: url(#{mb.image})")
            .member-name #{mb.first_name} #{mb.last_name}
            .member-points #{mb.points} contributions
    div(style="clear:both;")
  .team
    h2 Mangrove Friends
    p.explanation They believe in our vision. We believe in what they do.
    ul#friends

  script(src="scripts/team.js")
  script.
    $(function() {
      var options = {
        elements: !{JSON.stringify(friends)},
        amountToShow: 20,
        timeout: 5000,
        friendsDiv: '#friends'
      };
      var friendSection = new window.FriendsSection(options);
      friendSection.init();
    });
